* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
}


.header {
    height: 67px;
    width: 100%;
    background: #24364b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 1px solid ;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.header i {
    margin-right: 5px;
}

.text {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.text span {
    color: red;
    margin-left: 5px;
}



.dashboard {
    position: fixed;
    top: 67px;
    left: 0;
    width: 325px;
    height: calc(100vh - 67px);
    background: #1b2a3a;
}

.dashboard nav {
    padding: 35px 0;
}

.dashboard h2 {
    color: white;
    margin-left: 80px;
    margin-bottom: 55px;
}

.dashboard h2 i {
    margin-right: 8px;
}

.dashboard a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 18px 0;
    padding-left: 80px;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}

.dashboard a i {
    width: 30px;
    font-size: 20px;
}


.dashboard a:hover {
    background: #2d435a;
    color: #00d9ff;
    padding-left: 87px;
}



.main-content {
    margin-left: 325px;
    min-height: calc(100vh - 67px);
    padding: 30px;
    background: white;
}